# Environment variables from src/main/resources/application.yaml
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/tinylinkdb
SPRING_DATASOURCE_USERNAME=admin
SPRING_DATASOURCE_PASSWORD=secret
SPRING_JPA_HIBERNATE_DDL_AUTO=update
